@use '../../styles/global' as g;
@use '../../styles/responsive' as r;
.top_categories{
    width: 100%;
}
.top_categories h2{
    @include g.text-bg;
    margin: 1em 0;
}
 
//responsiveness
@include r.tablet{
    .top_categories{
        width: 45%;
    }
}