@use '../../styles/responsive' as r;
@use '../../styles/global' as g;

.statsPage_sec{
    width: 95%;
    margin: 0 auto;
    
}

//responsiveness
@include r.tablet{
    .allProgress_sec{
        display: flex;
        justify-content: space-between;
    }
}