@use '../../styles/global' as g;
@use '../../styles/responsive' as r;

    .header{
        position: fixed;
        box-shadow: 0px 7px 3px 1px rgba(0,0,0,0.1);
        background: g.$primary-white;
        height: 100%;
        min-height: 100vh;
        width: 15%;
        padding: 2em 0em;
        @include g.flex-c;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }
    .logo{
        margin: 0 .7em;
    }
    .nav_list{
        width: 100%;
    }
    .cart_Icon {
        background: g.$primary-orange;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        @include g.flex-c;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .cart_Icon > * {
        color: #ffff;
    }

    //responsiveness
    @include r.tablet{
        .header{
            width: 10%;
        }
    }
    @include r.small-desktop{
        .header{
            width: 7%;
        }
    }