@use '../../styles/global' as g;
@use '../../styles/responsive' as r;

// .nav_item{
//     display: flex;
//     align-items: center;
//     // border: 1px solid red;
//     color: g.$primary-black;
//     margin: 3em 0;
//     // margin-right: 1.2em;
//     justify-content: space-between;
// }
// .nav_item > *{
//     // border: 1px solid red;
//     width: 100%;
//     margin:  0 auto;
//     @include g.text-bg;
// }
// .nav_indicator{
//     width: .3em;
//     background: g.$primary-orange;
//     height: 2.5em;
//     border-radius: 0 .5em .5em 0;
//     margin: 0;
// }


.nav_item {
    width: 100%;
}

.nav_link{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @include g.text-bg;
    text-decoration: none;
    color: g.$primary-black;
    transition: 2s ease-in-out;
    width: 100%;
    height: 2.5em;
}

.nav_item.active_nav_item .nav_link::before {
    content: "";
    position: absolute;
    width: .3em;
    height: 100%;
    left: 0;
    background: g.$primary-orange;
    border-radius: 0 .4em .4em 0;
    transition: 0.5s;
}




