@use '../../styles/global' as g;
@use '../../styles/responsive' as r;

.cart_Icon {
        background: g.$primary-orange;
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        @include g.flex-c;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}
.cart_Icon > * {
        color: #ffff;
}
.desktop{
    display: none;
}

//responsiveness
@include r.small-desktop{
    .desktop{
        display: flex;
    }
    .mobile{
        display: none;
    }
}
