@use '../../styles/global' as g;
@use '../../styles/responsive' as r;

.list_card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.list_card p{
    @include g.text-base;
    font-weight: 600;
}
.list_card p::first-letter{
    text-transform: capitalize;
}
.count{
    border: 2px solid g.$primary-orange;
    background: none;
    border-radius: 12px;
    padding: .1rem .7rem;
    @include g.text-sm;
    text-align: center;
    color: g.$primary-orange;
    font-weight: 600;
}
.list_card .countSec_open{
    background: #fff;
    border-radius: 10px;
    @include g.flex-r;
    justify-content: space-between;
    align-items: center;
    height: 1.8rem;
    gap: .2em;
    transition: all 0.3s ease-in-out;
}
.countSec_open .delete{
    @include g.flex-r;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: g.$primary-orange;
    color: #fff;
    padding: .4em .25em;
}
.countSec_open .count_logic{
    @include g.flex-r;
    justify-content: space-between;
    align-items: center;
    color: g.$primary-orange;
    gap: .5em;
}
.brown{
    background: #FFF0DE !important;
}
.action_btn{
    cursor: pointer;
}