@use '../../styles/responsive' as r;
@use '../../styles/global' as g;

.aside {
    position: fixed;
    transition: transform 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    left: 15%;
    top: 0;
}
.aside[data-visible="false"] {
    transform: translateX(100%);
}
.aside[data-visible="true"] {
    transform: translateX(0%);
}

.aside__header {
    display: flex;
}
.desktop{
    display: none;
}
//responsiveness
@include r.tablet{
    .aside{
        left: 60%;
    }
}

@include r.small-desktop{
    .aside {
        left: 68%;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
}
@include r.mid-desktop{
    .aside {
        left: 76%;
    }
}