@use '../../styles/responsive' as r;
@use '../../styles/global' as g;

.aside {
    width: 85%;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    right: 0;
    top: 0;
}
.aside[data-visible="false"] {
    transform: translateX(100%);
}
.aside[data-visible="true"] {
    transform: translateX(0%);
}

.aside__header {
    display: flex;
}

//responsiveness
@include r.tablet{
    .aside{
        width: 40%;
    }
}

@include r.small-desktop{
    .aside {
        width: 32%;
    }
}
@include r.mid-desktop{
    .aside {
        width: 24%;
    }
}