@use '../../styles/responsive' as r;
@use '../../styles/global' as g;

.createItem_sec{
    background: #fff;
    @include g.flex-c;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2em 0 0 0;
    overflow-y: scroll;
}
.cont{
    width: 70%;
    margin: 0 auto;
}
.cont h2{
    @include g.text-bg0;
}
.cont label{
    color: g.$primary-black;
    @include g.text-sm;
    font-weight: bold;
    margin-bottom: 1em;
}
.cont .input{
    border: 2px solid #BDBDBD;
    color: #000;
    border-radius: 7px;
    padding: 1em 1em;
    @include g.text-sm;
    width: 100%;
    margin-bottom: .5em;
    text-transform: capitalize;
}
.cont .input:focus {
    border: 2px solid g.$primary-orange;
    outline: g.$primary-orange;
    background: #FFF;
}
.bottom{
    background: #FFF;
    width: 100%;
    padding: 1.5em 0;
    @include g.flex-r;
    gap: 1em;
}
#formik{
    height: 100%;
    @include g.flex-c;
    justify-content: space-between;
}
//responsiveness
@include r.tablet{
    .cont{
        width: 80%;
    }
}
